@media screen and (max-width: 445px) {
  .auth-text{
    font-size: 12px;
  }
  .btn-auth{
    font-size: 14px;
  }
}

@media screen and (max-width: 385px) {
  .auth-text{
    font-size: 9px;
  }
  .btn-auth{
    font-size: 12px;
  }
}

@media screen and (max-width: 330px) {
  .auth-text{
    font-size: 8px;
  }
  .btn-auth{
    font-size: 11px;
  }
}

